.commits-container {
    text-align: center; 
  }
  
  .gauge-charts-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px;
    margin-top: 20px;
  }
  
  .gauge-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

.section-title {
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 0.5rem;
  margin-top: 0rem;
  color: #333;
  justify-content: center;
}

.custom-tooltip {
  position: relative;
  display: inline-block;
  font-size: 0.85rem;
  color: #888;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  max-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 6px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 0.75rem;
  white-space: normal;
}

.custom-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.radar-charts-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.radar-chart-container {
  width: 450px;
  height: 300px;
}
