:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html, body, #root {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: inherit;
    background-color: #ffffff;
  }
  
  h1 {
    font-size: 2em;
    line-height: 1.1;
    text-align: center;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  
  .charts-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 10px; 
    width: 100%; 
    margin-top: 20px;
  }
  
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px
  }

  .user-selector {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    background-color: #1c3d5d;
    color: #ffffff;
  }

  .user-selector:focus {
    outline: none;
  }
  
  .user-avatar {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .day-selector-indv {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    background-color: #1c3d5d;
    color: #ffffff;

  }

  .day-selector-wrapper-indv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .day-selector-indv:focus {
    outline: none;
  }

  
  .individual-user-card.horizontal-layout {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    background: #fff;
}
.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.stats-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .stats-grid div {
    background: #f7f7f7;
    padding: 8px 12px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    justify-content: center;
    min-width: 200px;
  }
  
  .user-name {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 15ch;
  }

  .chart-toggle-wrapper-index {
    margin-top:20px;
  }

  @media (max-width: 768px) { 
    .individual-user-card.horizontal-layout {
        width: 90%;
        padding: 15px;
        flex-direction: column; 
        align-items: center;
    }

    .user-info {
        flex-direction: column; 
        align-items: center;
    }

    .user-avatar {
        width: 60px;
        height: 60px;
    }

    .stats-grid {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr;  
    }

    .stats-grid div {
        padding: 10px;
    }
}

